<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.breeze.boot.modules.system.mapper.SysLogMapper">

    <resultMap id="sysLogResultMap" type="com.breeze.boot.modules.system.model.entity.SysLog">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="systemModule" column="system_module" jdbcType="VARCHAR"/>
        <result property="logTitle" column="log_title" jdbcType="VARCHAR"/>
        <result property="logType" column="log_type" jdbcType="TINYINT"/>
        <result property="requestType" column="request_type" jdbcType="TINYINT"/>
        <result property="ip" column="ip" jdbcType="VARCHAR"/>
        <result property="doType" column="do_type" jdbcType="TINYINT"/>
        <result property="system" column="system" jdbcType="VARCHAR"/>
        <result property="result" column="result" jdbcType="TINYINT"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createName" column="create_name" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <update id="truncate">
        TRUNCATE TABLE sys_log;
    </update>

    <select id="listPage" resultType="com.breeze.boot.modules.system.model.entity.SysLog">
        SELECT id,
        system_module,
        log_title,
        log_type,
        request_type,
        ip,
        do_type,
        `system`,
        param_content,
        `result`,
        result_msg,
        `time`,
        create_by,
        create_name,
        create_time
        FROM sys_log
        <where>
            <if test="logQuery.startDate != null and logQuery.endDate != null">
                AND create_time BETWEEN DATE_FORMAT( #{logQuery.startDate}, '%Y-%m-%d %H:%m:%s') AND
                DATE_FORMAT( #{logQuery.endDate}, '%Y-%m-%d %H:%m:%s')
            </if>
            <if test="logQuery.systemModule != null and logQuery.systemModule != ''">
                AND `system_module` LIKE CONCAT( '%', #{logQuery.systemModule}, '%')
            </if>
            <if test="logQuery.logTitle != null and logQuery.logTitle != ''">
                AND log_title LIKE CONCAT( '%', #{logQuery.logTitle}, '%')
            </if>
            <if test="logQuery.requestType != null">
                AND request_type = #{logQuery.requestType}
            </if>
            <if test="logQuery.logType != null">
                AND log_type = #{logQuery.logType}
            </if>
            <if test="logQuery.result != null">
                AND result = #{logQuery.result}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

</mapper>
