<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.breeze.boot.modules.bpm.mapper.GroupMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.breeze.boot.modules.bpm.model.entity.Group" id="actIdGroupMap">
        <result property="id" column="ID_"/>
        <result property="rev" column="REV_"/>
        <result property="name" column="NAME_"/>
        <result property="type" column="TYPE_"/>
    </resultMap>

    <select id="listPage" resultMap="actIdGroupMap">
        SELECT *
        FROM ACT_ID_GROUP
    </select>

</mapper>