<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.breeze.boot.modules.bpm.mapper.UserMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.breeze.boot.modules.bpm.model.entity.User" id="actIdUserMap">
        <result property="id" column="ID_"/>
        <result property="rev" column="REV_"/>
        <result property="first" column="FIRST_"/>
        <result property="last" column="LAST_"/>
        <result property="displayName" column="DISPLAY_NAME_"/>
        <result property="email" column="EMAIL_"/>
        <result property="pwd" column="PWD_"/>
        <result property="pictureId" column="PICTURE_ID_"/>
        <result property="tenantId" column="TENANT_ID_"/>
    </resultMap>

    <select id="listPage" resultMap="actIdUserMap">
        SELECT
        ID_,
        REV_,
        FIRST_,
        LAST_,
        DISPLAY_NAME_,
        EMAIL_,
        PWD_,
        PICTURE_ID_,
        TENANT_ID_
        FROM
        ACT_ID_USER
        <where>
            <if test="userQuery.username != null and userQuery.username != ''">
                AND FIRST_ LIKE CONCAT('%', #{userQuery.username}, '%')
            </if>
        </where>
    </select>


</mapper>