/*
 * Copyright (c) ${year}, gaoweixuan (breeze-cloud@foxmail.com).
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      https://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

package ${packageName}.${module}.service;

import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.baomidou.mybatisplus.extension.service.IService;
import com.breeze.boot.core.utils.Result;
import com.breeze.boot.${module}.model.entity.${entityClassName};
import com.breeze.boot.${module}.model.form.${entityClassName}Form;
import com.breeze.boot.${module}.model.query.${entityClassName}Query;
import com.breeze.boot.${module}.model.vo.${entityClassName}VO;

import java.util.List;

/**
 * ${entityClassNameComment} 服务
 *
 * @author gaoweixuan
 * @since ${date}
 */
public interface ${entityClassName}Service extends IService<${entityClassName}> {

    /**
     * 列表页面
     *
     * @param query ${entityClassNameComment}查询
     * @return {@link Page}<{@link ${entityClassName}VO }>
     */
    Page<${entityClassName}VO> listPage(${entityClassName}Query query);

    /**
     * 按id获取信息
     *
     * @param ${entityClassLowerName}Id ${entityClassNameComment}id
     * @return {@link ${entityClassName}VO }
     */
    ${entityClassName}VO getInfoById(Long ${entityClassLowerName}Id);

    /**
     * 保存${entityClassNameComment}
     *
     * @param form 平台表单
     * @return {@link Boolean }
     */
    Boolean save${entityClassName}(${entityClassName}Form form);

    /**
     * 修改${entityClassNameComment}
     *
     * @param ${entityClassLowerName}Id ${entityClassNameComment}ID
     * @param form ${entityClassNameComment}表单
     * @return {@link Boolean }
     */
    Boolean modify${entityClassName}(Long ${entityClassLowerName}Id, ${entityClassName}Form form);

    /**
     * 通过IDS删除${entityClassNameComment}
     *
     * @param ids ids
     * @return {@link Result}<{@link Boolean }>
     */
    Result<Boolean> remove${entityClassName}ByIds(List<Long> ids);

}