<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.breeze.boot.system.mapper.SysDictMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.breeze.boot.sys.domain.SysDict" id="sysDictMap">
        <id property="id" column="id"/>
        <result property="dictName" column="dict_name"/>
        <result property="dictCode" column="dict_code"/>
        <result property="isOpen" column="is_open"/>
        <collection property="sysDictDetailList" javaType="java.util.List"
                    ofType="com.breeze.boot.sys.domain.SysDictItem"
                    column="{pdictId=id}"
                    select="com.breeze.boot.sys.mapper.SysDictItemMapper.listDictDetailByDictId">
        </collection>
    </resultMap>

    <select id="listPage" resultMap="sysDictMap">
        SELECT
        a.id,
        a.dict_name,
        a.dict_code,
        a.is_open
        FROM sys_dict AS a
        <where>
            a.is_delete = 0
            <if test="dictSearchDto.dictName != null and dictSearchDto.dictName != ''">
                AND a.dict_name LIKE CONCAT( '%', #{dictSearchDto.dictName}, '%')
            </if>
            <if test="dictSearchDto.dictCode != null and dictSearchDto.dictCode != ''">
                AND a.dict_code LIKE CONCAT( '%', #{dictSearchDto.dictCode}, '%')
            </if>
        </where>
        ORDER BY a.create_time DESC
    </select>

</mapper>
