<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.breeze.boot.system.mapper.SysRoleMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.breeze.boot.system.domain.SysRole" id="sysRoleMap">
        <id property="id" column="id"/>
        <result property="roleCode" column="role_code"/>
        <result property="roleName" column="role_name"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="createName" column="create_name"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDelete" column="is_delete"/>
        <result property="deleteBy" column="delete_by"/>
    </resultMap>

    <select id="listRoleByUserId" resultType="com.breeze.boot.system.domain.SysRole">
        SELECT role.id,
               role.role_code,
               role.role_name
        FROM sys_role AS role
                 LEFT JOIN sys_user_role AS ru ON ru.role_id = role.id
        WHERE role.is_delete = 0
          AND ru.user_id = #{userId}
        ORDER BY role.create_time DESC
    </select>

    <select id="listRoleIdsByUserId" resultType="java.lang.Long">
        SELECT role.id
        FROM sys_role AS role
                 LEFT JOIN sys_user_role AS ru ON ru.role_id = role.id
        WHERE role.is_delete = 0
          AND ru.user_id = #{userId}
        ORDER BY role.create_time DESC
    </select>

    <select id="listPage" resultType="com.breeze.boot.system.domain.SysRole">
        SELECT
        a.id,
        a.role_code,
        a.role_name,
        b.data_permission_name
        FROM
        sys_role AS a
        LEFT JOIN (
            SELECT
                a.role_id,
                GROUP_CONCAT( b.data_permission_name ) data_permission_name
            FROM
            sys_role_data_permission AS a
                LEFT JOIN sys_data_permission AS b ON a.data_permission_id = b.id
            WHERE
                a.is_delete = 0
                AND b.is_delete = 0
            GROUP BY
                a.role_id
        ) b ON a.id = b.role_id
        <where>
            a.is_delete = 0
            <if test="roleSearchDTO.roleName != null and roleSearchDTO.roleName != ''">
                a.role_name LIKE CONCAT( '%', #{roleSearchDTO.roleName}, '%')
            </if>
            <if test="roleSearchDTO.roleCode != null and roleSearchDTO.roleCode != ''">
                a.role_code LIKE CONCAT( '%', #{roleSearchDTO.roleCode}, '%')
            </if>
        </where>
        ORDER BY
        a.create_time DESC
    </select>

    <select id="listUserRoles" resultType="java.lang.Long">
        SELECT a.id
        FROM sys_role AS a
                 LEFT JOIN sys_user_role AS b ON a.id = b.role_id
        WHERE b.user_id = #{userId}
          AND a.is_delete = 0
    </select>

</mapper>
