<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breeze.boot.system.mapper.SysRoleDataPermissionMapper">

    <resultMap id="BaseResultMap" type="com.breeze.boot.sys.domain.SysRoleDataPermission">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="dataPermissionId" column="data_permission_id" jdbcType="BIGINT"/>
        <result property="roleId" column="role_id" jdbcType="BIGINT"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createName" column="create_name" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateName" column="update_name" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
        <result property="deleteBy" column="delete_by" jdbcType="VARCHAR"/>
        <result property="tenantId" column="tenant_id" jdbcType="BIGINT"/>
    </resultMap>

    <select id="listRoleDataPermissionByRoleIds" resultType="com.breeze.security.entity.DataPermissionDTO">
        SELECT
        a.data_permission_code,
        a.data_permission_type,
        b.role_id,
        a.operator,
        a.`str_sql`,
        a.data_permissions
        FROM
        sys_data_permission AS a
        LEFT JOIN sys_role_data_permission AS b ON a.id = b.data_permission_id
        <where>
            a.is_delete = 0
            AND b.is_delete = 0
            <if test="roleIdSet != null and roleIdSet.size > 0">
                AND b.role_id IN
                <foreach collection="roleIdSet" item="roleId" open="(" separator="," close=")">
                    #{roleId}
                </foreach>
            </if>
        </where>
        ORDER BY a.create_time DESC
    </select>

</mapper>
