<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breeze.boot.system.mapper.SysUserMsgSnapshotMapper">

    <resultMap id="BaseResultMap" type="com.breeze.boot.sys.domain.SysUserMsgSnapshot">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="msgId" column="msg_id" jdbcType="BIGINT"/>
        <result property="msgTitle" column="msg_title" jdbcType="VARCHAR"/>
        <result property="msgTitle" column="msg_title" jdbcType="VARCHAR"/>
        <result property="msgType" column="msg_type" jdbcType="TINYINT"/>
        <result property="msgLevel" column="msg_level" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="deptId" column="dept_id" jdbcType="BIGINT"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createName" column="create_name" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateName" column="update_name" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
        <result property="deleteBy" column="delete_by" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="listPage" resultType="com.breeze.boot.sys.vo.SysUserMsgSnapshotVO">
        SELECT
        a.id,
        a.user_id,
        c.user_code,
        b.msg_id,
        b.msg_title,
        a.msg_code,
        b.msg_type,
        b.content,
        b.msg_level,
        b.create_time,
        c.username,
        a.create_name,
        a.dept_id,
        a.`mark_read`
        FROM sys_user_msg AS a
        LEFT JOIN sys_user_msg_snapshot AS b ON b.id = a.msg_snapshot_id
        LEFT JOIN sys_user AS c ON a.user_id = c.id
        <where>
            a.is_delete = 0
            AND b.is_delete = 0
            AND c.is_delete = 0
            <if test="userMsgSearchDTO.msgTitle != null and userMsgSearchDTO.msgTitle != ''">
                AND b.msg_title LIKE CONCAT('%' , #{userMsgSearchDTO.msgTitle}, '%')
            </if>
            <if test="userMsgSearchDTO.msgCode != null and userMsgSearchDTO.msgCode != ''">
                AND a.msg_code LIKE CONCAT('%' , #{userMsgSearchDTO.msgCode}, '%')
            </if>
            <if test="userMsgSearchDTO.username != null and userMsgSearchDTO.username != ''">
                AND c.username LIKE CONCAT('%' , #{userMsgSearchDTO.username}, '%')
            </if>
        </where>
        ORDER BY a.create_time DESC
    </select>

    <select id="listMsgByUsername" resultType="com.breeze.boot.sys.vo.SysUserMsgSnapshotVO">
        SELECT a.id,
               a.user_id,
               b.msg_id,
               b.msg_title,
               a.msg_code,
               b.msg_type,
               b.content,
               b.msg_level,
               b.create_time,
               c.username,
               a.create_name,
               a.`mark_read`
        FROM sys_user_msg AS a
                 LEFT JOIN sys_user_msg_snapshot AS b ON b.id = a.msg_snapshot_id
                 LEFT JOIN sys_user AS c ON a.user_id = c.id
        WHERE a.is_delete = 0
          AND b.is_delete = 0
          AND c.is_delete = 0
          AND a.mark_close = 0
          AND c.username = #{username}
        ORDER BY a.create_time DESC
    </select>

</mapper>
