<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.breeze.boot.system.mapper.SysDictItemMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.breeze.boot.system.entity.SysDictItem" id="sysDictItemMap">
        <id property="id" column="id" javaType="java.lang.Long"/>
        <result property="dictId" column="dict_id" javaType="java.lang.Long"/>
        <result property="value" column="value"/>
        <result property="label" column="label"/>
        <result property="sort" column="sort"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="createName" column="create_name"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDelete" column="is_delete"/>
        <result property="deleteBy" column="delete_by"/>
    </resultMap>

    <select id="listDictDetailByDictId" resultMap="sysDictItemMap">
        SELECT
        a.id,
        a.`value`,
        a.label,
        a.sort
        FROM sys_dict_item AS a
        <where>
            a.is_delete = 0
            AND a.dict_id = #{pdictId}
        </where>
    </select>

</mapper>
