<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breeze.boot.modules.auth.mapper.SysRoleColumnPermissionMapper">

    <resultMap id="BaseResultMap" type="com.breeze.boot.modules.auth.model.entity.SysRoleColumnPermission">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="roleId" column="role_id" jdbcType="BIGINT"/>
        <result property="columnName" column="column_name" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createName" column="create_name" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="listRoleColumnExcludeData" resultType="com.breeze.boot.modules.auth.model.entity.SysRoleColumnPermission">
        SELECT
        a.column_name
        FROM
        sys_role_column_permission AS a
        <where>
            <if test="roleIdSet != null and roleIdSet.size > 0">
                AND a.role_id IN
                <foreach collection="roleIdSet" item="roleId" open="(" separator="," close=")">
                    #{roleId}
                </foreach>
            </if>
        </where>
        ORDER BY a.create_time DESC
    </select>

</mapper>
