<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.breeze.boot.modules.auth.mapper.SysUserRoleMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.breeze.boot.modules.auth.model.entity.SysUserRole" id="sysRoleUserMap">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="roleId" column="role_id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="createName" column="create_name"/>
    </resultMap>

    <select id="getSysRoleByUserId" resultType="com.breeze.boot.modules.auth.model.entity.SysRole">
        SELECT a.id,
               a.role_code,
               a.role_name
        FROM sys_role AS a
                 LEFT JOIN sys_user_role AS b ON a.id = b.role_id
        WHERE a.is_delete = 0
          AND b.user_id = #{userId}
        ORDER BY a.create_time DESC
    </select>

</mapper>
