<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.breeze.boot.system.mapper.SysMenuMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.breeze.boot.system.domain.SysMenu" id="sysMenuMap">
        <id property="id" column="id"/>
        <result property="platformId" column="platform_id"/>
        <result property="title" column="title"/>
        <result property="name" column="name"/>
        <result property="sort" column="sort"/>
        <result property="parentId" column="parent_id"/>
        <result property="permission" column="permission"/>
        <result property="path" column="path"/>
        <result property="component" column="component"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="createName" column="create_name"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDelete" column="is_delete"/>
        <result property="deleteBy" column="delete_by"/>
    </resultMap>

    <select id="listUserMenuPermission" resultType="java.lang.String">
        SELECT DISTINCT menu.permission
        FROM sys_menu AS menu
        LEFT JOIN sys_role_menu AS mr ON menu.id = mr.menu_id
        AND mr.is_delete = 0
        WHERE menu.is_delete = 0
        AND menu.permission != ''
        AND mr.role_id IN
        <foreach collection="userRoleDTOList" open="(" separator="," close=")" item="roleItem" index="index">
            #{roleItem.roleId }
        </foreach>
    </select>

    <select id="listMenu" resultType="com.breeze.boot.system.domain.SysMenu">
        SELECT
        a.id,
        a.name,
        a.icon,
        a.platform_id,
        b.platform_name,
        a.sort,
        a.parent_id,
        a.permission,
        a.path,
        a.title,
        a.component,
        a.href,
        a.keep_alive,
        a.hidden,
        a.type
        FROM sys_menu a
        LEFT JOIN sys_platform b ON a.platform_id =b.id
        <where>
            a.is_delete = 0
            AND b.is_delete = 0
            AND a.platform_id = #{menuDTO.platformId}
            <if test="menuDTO.title != null and menuDTO.title != ''">
                AND a.title like CONCAT( '%', #{menuDTO.title}, '%')
            </if>
            <if test="menuDTO.name != null and menuDTO.name != ''">
                AND a.name like CONCAT( '%', #{menuDTO.name}, '%')
            </if>
        </where>
    </select>

    <select id="selectMenusByRoleId" resultType="com.breeze.boot.system.domain.SysMenu">
        SELECT
        b.id,
        b.platform_id,
        b.parent_id,
        b.title,
        b.`name`,
        b.type,
        b.icon,
        b.path,
        b.component,
        b.keep_alive,
        b.hidden,
        b.href,
        b.permission,
        b.sort
        FROM
        sys_role_menu AS a
        LEFT JOIN sys_menu AS b ON a.menu_id = b.id
        LEFT JOIN sys_platform AS c ON c.id = b.platform_id
        <where>
            <if test="roleIds == null">
                AND 1 != 1
            </if>
            AND c.platform_code = #{platformCode}
            AND b.type IN (0,1)
            AND a.role_id IN
            <foreach collection="roleIds" item="roleId" open="(" separator="," close=")" index="index">
                #{roleId}
            </foreach>
            AND a.is_delete = 0
            AND b.is_delete = 0
            AND c.is_delete = 0
        </where>
        ORDER BY b.sort
    </select>

</mapper>
