<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.breeze.boot.system.mapper.SysUserMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.breeze.boot.system.domain.SysUser" id="sysUserMap">
        <id property="id" column="id"/>
        <result property="userCode" column="user_code"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="deptId" column="dept_id"/>
        <result property="deptName" column="dept_name"/>
        <result property="amountName" column="amount_name"/>
        <result property="avatar" column="avatar"/>
        <result property="phone" column="phone"/>
        <result property="openId" column="open_id"/>
        <result property="email" column="email"/>
        <result property="sex" column="sex"/>
        <result property="idCard" column="id_card"/>
        <result property="isLock" column="is_lock"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="createName" column="create_name"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDelete" column="is_delete"/>
        <result property="deleteBy" column="delete_by"/>
        <collection property="sysRoles" javaType="java.util.List"
                    ofType="com.breeze.boot.system.domain.SysRole"
                    column="{userId=id}"
                    select="com.breeze.boot.system.mapper.SysRoleMapper.listRoleByUserId">
        </collection>
    </resultMap>

    <select id="listPage" resultMap="sysUserMap">
        SELECT
        a.id,
        a.dept_id,
        a.amount_name,
        a.user_code,
        a.username,
        a.avatar,
        a.phone,
        a.sex,
        a.id_card,
        a.is_lock,
        a.open_id,
        a.email,
        b.dept_name
        FROM
        sys_user AS a
        LEFT JOIN sys_dept AS b ON a.dept_id = b.id
        <where>
            a.is_delete = 0
            AND b.is_delete = 0
            <if test="userDTO.phone != null and userDTO.phone != ''">
                AND a.phone like CONCAT('%' , #{phone}, '%')
            </if>
            <if test="userDTO.username != null and userDTO.username != ''">
                AND a.username like CONCAT('%' , #{userDTO.username}, '%')
            </if>
            <if test="userDTO.userCode != null and userDTO.userCode != ''">
                AND a.user_code like CONCAT('%' , #{userDTO.userCode}, '%')
            </if>
        </where>
    </select>

</mapper>
