/*
 * Copyright (c) 2023, gaoweixuan (breeze-cloud@foxmail.com).
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      https://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

package ${package}.${moduleName}.service.impl;

import cn.hutool.core.bean.BeanUtil;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import com.breeze.boot.log.bo.SysLogBO;
import ${package}.${moduleName}.domain.${className};
import ${package}.${moduleName}.dao.${className}Mapper;
import ${package}.${moduleName}.query.${className}Query;
import ${package}.${moduleName}.service.${className}Service;
import lombok.RequiredArgsConstructor;
import org.springframework.stereotype.Service;

@Service
public class ${className}ServiceImpl extends ServiceImpl<${className}Dao, ${className}Entity> implements ${className}Service {

    /**
     * ${comments}列表
     *
     * @param ${lowCaseClassName}Query ${comments}
     * @return {@link Page}<{@link ${className}>
     */
    @Override
    public Page<SysLog> listPage(${className}Query ${lowCaseClassName}Query) {
        return this.baseMapper.listPage(new Page<>(${lowCaseClassName}Query.getCurrent(), ${lowCaseClassName}Query.getLimit()), ${lowCaseClassName}Query);
    }

}
