INSERT INTO `sys_menu` (`id`, `platform_id`, `parent_id`, `title`, `name`, `type`, `icon`, `path`, `component`, `permission`, `href`, `keep_alive`, `hidden`, `sort`, `create_by`, `create_name`, `create_time`, `update_by`, `update_name`, `update_time`, `is_delete`, `delete_by`, `tenant_id`) VALUES ( ${rootId},  1111111111111111111, 1111111111111111111, '${entityClassNameComment}', '${entityClassName}', 1, '${entityClassName}', '/${entityClassLowerName}', '/${module}/${entityClassLowerName}/index', '${module}:${entityClassLowerName}:list', 0, 0, 0, 10, 'admin', 'admin',  now(), 'admin', 'admin',  now(), 0, NULL, 1);
INSERT INTO `sys_menu` (`id`, `platform_id`, `parent_id`, `title`, `name`, `type`, `icon`, `path`, `component`, `permission`, `href`, `keep_alive`, `hidden`, `sort`, `create_by`, `create_name`, `create_time`, `update_by`, `update_name`, `update_time`, `is_delete`, `delete_by`, `tenant_id`) VALUES ( ${addId},  1111111111111111111, ${rootId}, '添加', '', 2, NULL, NULL, NULL, '${module}:${entityClassLowerName}:create', 0, 0, 0, 1, 'admin', 'admin', now(), 'admin', 'admin',  now(), 0, NULL, 1);
INSERT INTO `sys_menu` (`id`, `platform_id`, `parent_id`, `title`, `name`, `type`, `icon`, `path`, `component`, `permission`, `href`, `keep_alive`, `hidden`, `sort`, `create_by`, `create_name`, `create_time`, `update_by`, `update_name`, `update_time`, `is_delete`, `delete_by`, `tenant_id`) VALUES ( ${editId},  1111111111111111111,  ${rootId},  '修改', '', 2, NULL, NULL, NULL, '${module}:${entityClassLowerName}:modify', 0, 0, 0, 2, 'admin', 'admin', now(), 'admin', 'admin',  now(), 0, NULL, 1);
INSERT INTO `sys_menu` (`id`, `platform_id`, `parent_id`, `title`, `name`, `type`, `icon`, `path`, `component`, `permission`, `href`, `keep_alive`, `hidden`, `sort`, `create_by`, `create_name`, `create_time`, `update_by`, `update_name`, `update_time`, `is_delete`, `delete_by`, `tenant_id`) VALUES ( ${infoId},  1111111111111111111,  ${rootId},  '详情', '', 2, NULL, NULL, NULL, '${module}:${entityClassLowerName}:info', 0, 0, 0, 3, 'admin', 'admin', now(), 'admin', 'admin',  now(), 0, NULL, 1);
INSERT INTO `sys_menu` (`id`, `platform_id`, `parent_id`, `title`, `name`, `type`, `icon`, `path`, `component`, `permission`, `href`, `keep_alive`, `hidden`, `sort`, `create_by`, `create_name`, `create_time`, `update_by`, `update_name`, `update_time`, `is_delete`, `delete_by`, `tenant_id`) VALUES ( ${delId},  1111111111111111111,  ${rootId},  '删除', '', 2, NULL, NULL, NULL, '${module}:${entityClassLowerName}:delete', 0, 0, 0, 1, 'admin', 'admin', now(), 'admin', 'admin', now(), 0, NULL, 1);
