<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.breeze.boot.modules.system.mapper.SysPlatformMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.breeze.boot.modules.system.domain.SysPlatform" id="sysPlatformMap">
        <id property="id" column="id"/>
        <result property="platformCode" column="platform_code"/>
        <result property="platformName" column="platform_name"/>
        <result property="description" column="description"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="createName" column="create_name"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDelete" column="is_delete"/>
        <result property="deleteBy" column="delete_by"/>
    </resultMap>

</mapper>
