<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.breeze.boot.system.mapper.SysUserMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.breeze.boot.system.domain.SysUser" id="sysUserMap">
        <id property="id" column="id"/>
        <result property="userCode" column="user_code"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="deptId" column="dept_id"/>
        <result property="deptName" column="dept_name"/>
        <result property="amountName" column="amount_name"/>
        <result property="avatar" column="avatar"/>
        <result property="phone" column="phone"/>
        <result property="openId" column="open_id"/>
        <result property="email" column="email"/>
        <result property="sex" column="sex"/>
        <result property="idCard" column="id_card"/>
        <result property="isLock" column="is_lock"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="createName" column="create_name"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDelete" column="is_delete"/>
        <result property="deleteBy" column="delete_by"/>
        <collection property="roleIds" javaType="java.util.List"
                    ofType="java.lang.Long"
                    column="{userId=id}"
                    select="com.breeze.boot.system.mapper.SysRoleMapper.listRoleIdsByUserId">
        </collection>
    </resultMap>

    <select id="listPage" resultMap="sysUserMap">
        SELECT
        a.id,
        a.dept_id,
        a.amount_name,
        a.user_code,
        a.username,
        a.avatar,
        a.phone,
        a.sex,
        a.id_card,
        a.is_lock,
        a.open_id,
        a.email,
        a.post_id,
        c.post_name,
        b.dept_name
        FROM
        sys_user AS a
        LEFT JOIN sys_dept AS b ON a.dept_id = b.id AND b.is_delete = 0
        LEFT JOIN sys_post AS c ON a.post_id = c.id AND c.is_delete = 0
        <where>
            a.is_delete = 0
            <if test="userQuery.phone != null and userQuery.phone != ''">
                AND a.phone like CONCAT('%' , #{phone}, '%')
            </if>
            <if test="userQuery.username != null and userQuery.username != ''">
                AND a.username like CONCAT('%' , #{userQuery.username}, '%')
            </if>
            <if test="userQuery.userCode != null and userQuery.userCode != ''">
                AND a.user_code like CONCAT('%' , #{userQuery.userCode}, '%')
            </if>
        </where>
        ORDER BY a.create_time DESC
    </select>

    <select id="listUserByDeptId" resultType="com.breeze.boot.system.domain.SysUser">
        SELECT
        a.id,
        a.dept_id,
        a.amount_name,
        a.user_code,
        a.username,
        a.avatar,
        a.phone,
        a.sex,
        a.id_card,
        a.is_lock,
        a.open_id,
        a.email,
        a.post_id,
        c.post_name,
        b.dept_name
        FROM
        sys_user AS a
        LEFT JOIN sys_dept AS b ON a.dept_id = b.id
        LEFT JOIN sys_post AS c ON a.post_id = c.id
        <where>
            a.is_delete = 0
            AND b.is_delete = 0
            AND c.is_delete = 0
            <if test="deptIds != null and deptIds.size > 0">
                AND a.dept_id IN
                <foreach collection="deptIds" open="(" separator="," close=")" item="dept" index="index">
                    #{dept}
                </foreach>
            </if>
        </where>
        ORDER BY a.create_time DESC
    </select>

    <select id="listAllUser" resultType="com.breeze.boot.system.domain.SysUser">
        SELECT
        a.id,
        a.dept_id,
        a.amount_name,
        a.user_code,
        a.username,
        a.avatar,
        a.phone,
        a.sex,
        a.id_card,
        a.is_lock,
        a.open_id,
        a.email,
        a.post_id,
        c.post_name,
        b.dept_name
        FROM
        sys_user AS a
        LEFT JOIN sys_dept AS b ON a.dept_id = b.id
        LEFT JOIN sys_post AS c ON a.post_id = c.id
        <where>
            a.is_delete = 0
            AND b.is_delete = 0
            AND c.is_delete = 0
        </where>
        ORDER BY a.create_time DESC
    </select>

</mapper>
