<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breeze.boot.flow.mapper.ActReProcdefMapper">

    <resultMap id="BaseResultMap" type="com.breeze.boot.flow.domain.ActReProcdef">
        <id property="id" column="ID_" jdbcType="VARCHAR"/>
        <result property="rev" column="REV_" jdbcType="INTEGER"/>
        <result property="category" column="CATEGORY_" jdbcType="VARCHAR"/>
        <result property="name" column="NAME_" jdbcType="VARCHAR"/>
        <result property="key" column="KEY_" jdbcType="VARCHAR"/>
        <result property="version" column="VERSION_" jdbcType="INTEGER"/>
        <result property="deploymentId" column="DEPLOYMENT_ID_" jdbcType="VARCHAR"/>
        <result property="resourceName" column="RESOURCE_NAME_" jdbcType="VARCHAR"/>
        <result property="dgrmResourceName" column="DGRM_RESOURCE_NAME_" jdbcType="VARCHAR"/>
        <result property="description" column="DESCRIPTION_" jdbcType="VARCHAR"/>
        <result property="hasStartFormKey" column="HAS_START_FORM_KEY_" jdbcType="TINYINT"/>
        <result property="hasGraphicalNotation" column="HAS_GRAPHICAL_NOTATION_" jdbcType="TINYINT"/>
        <result property="suspensionState" column="SUSPENSION_STATE_" jdbcType="INTEGER"/>
        <result property="tenantId" column="TENANT_ID_" jdbcType="VARCHAR"/>
        <result property="engineVersion" column="ENGINE_VERSION_" jdbcType="VARCHAR"/>
        <result property="derivedFrom" column="DERIVED_FROM_" jdbcType="VARCHAR"/>
        <result property="derivedFromRoot" column="DERIVED_FROM_ROOT_" jdbcType="VARCHAR"/>
        <result property="derivedVersion" column="DERIVED_VERSION_" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID_
        ,REV_,CATEGORY_,
        NAME_,KEY_,VERSION_,
        DEPLOYMENT_ID_,RESOURCE_NAME_,DGRM_RESOURCE_NAME_,
        DESCRIPTION_,HAS_START_FORM_KEY_,HAS_GRAPHICAL_NOTATION_,
        SUSPENSION_STATE_,TENANT_ID_,ENGINE_VERSION_,
        DERIVED_FROM_,DERIVED_FROM_ROOT_,DERIVED_VERSION_
    </sql>
</mapper>
