<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breeze.boot.flow.mapper.ActReDeploymentMapper">

    <resultMap id="BaseResultMap" type="com.breeze.boot.flow.domain.ActReDeployment">
        <id property="id" column="ID_" jdbcType="VARCHAR"/>
        <result property="name" column="NAME_" jdbcType="VARCHAR"/>
        <result property="category" column="CATEGORY_" jdbcType="VARCHAR"/>
        <result property="key" column="KEY_" jdbcType="VARCHAR"/>
        <result property="tenantId" column="TENANT_ID_" jdbcType="VARCHAR"/>
        <result property="deployTime" column="DEPLOY_TIME_" jdbcType="TIMESTAMP"/>
        <result property="derivedFrom" column="DERIVED_FROM_" jdbcType="VARCHAR"/>
        <result property="derivedFromRoot" column="DERIVED_FROM_ROOT_" jdbcType="VARCHAR"/>
        <result property="parentDeploymentId" column="PARENT_DEPLOYMENT_ID_" jdbcType="VARCHAR"/>
        <result property="engineVersion" column="ENGINE_VERSION_" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID_
        ,NAME_,CATEGORY_,
        KEY_,TENANT_ID_,DEPLOY_TIME_,
        DERIVED_FROM_,DERIVED_FROM_ROOT_,PARENT_DEPLOYMENT_ID_,
        ENGINE_VERSION_
    </sql>

    <select id="listPage" resultType="com.breeze.boot.flow.vo.DeploymentVO">
        SELECT RES.ID_                   AS id,
               RES.NAME_                 AS name,
               RES.KEY_                  AS `key`,
               RES.TENANT_ID_            AS tenantId,
               RES.DEPLOY_TIME_          AS deploymentTime,
               RES.DERIVED_FROM_         AS derivedFrom,
               RES.DERIVED_FROM_ROOT_    AS derivedFromRoot,
               RES.PARENT_DEPLOYMENT_ID_ AS parentDeploymentId,
               RES.ENGINE_VERSION_       AS engineVersion,
               cate.category_name        AS categoryName,
               DEF.VERSION_              AS version,
               DEF.SUSPENSION_STATE_     AS suspended
        FROM act_re_deployment AS RES
                 LEFT JOIN process_category AS cate
                           ON RES.CATEGORY_ = cate.id
                 LEFT JOIN act_re_procdef AS DEF ON RES.ID_ = DEF.DEPLOYMENT_ID_
        WHERE DEF.VERSION_ = (SELECT max(VERSION_) FROM ACT_RE_PROCDEF WHERE KEY_ = RES.KEY_)
        ORDER BY RES.ID_ ASC
    </select>


</mapper>
