<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breeze.boot.quartz.mapper.SysQuartzJobLogMapper">

    <resultMap id="baseResultMap" type="com.breeze.boot.quartz.domain.SysQuartzJobLog">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="jobName" column="job_name" jdbcType="VARCHAR"/>
        <result property="jobGroupName" column="job_group_name" jdbcType="VARCHAR"/>
        <result property="clazzName" column="clazz_name" jdbcType="VARCHAR"/>
        <result property="jobMessage" column="job_message" jdbcType="VARCHAR"/>
        <result property="jobResult" column="job_result" jdbcType="TINYINT"/>
        <result property="exceptionInfo" column="exception_info" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <update id="truncate">
        TRUNCATE TABLE sys_quartz_job_log;
    </update>

    <select id="listPage" resultType="com.breeze.boot.quartz.domain.SysQuartzJobLog">
        SELECT
        id,
        job_name,
        job_group_name,
        cron_expression,
        clazz_name,
        job_message,
        `job_result`,
        exception_info,
        create_time
        FROM sys_quartz_job_log
        <where>
            <if test="jobQuery.jobId != null">
                AND job_id = #{jobQuery.jobId}
            </if>
            <if test="jobQuery.startDate != null and jobQuery.endDate != null">
                AND create_time BETWEEN DATE_FORMAT( #{jobQuery.startDate}, '%Y-%m-%d %H:%m:%s') AND
                DATE_FORMAT( #{jobQuery.endDate}, '%Y-%m-%d %H:%m:%s')
            </if>
            <if test="jobQuery.jobName != null and jobQuery.jobName != ''">
                AND job_name = #{jobQuery.jobName}
            </if>
            <if test="jobQuery.jobGroupName != null and jobQuery.jobGroupName != ''">
                AND job_group_name = #{jobQuery.jobGroupName}
            </if>
        </where>
    </select>

</mapper>
