<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.breeze.boot.quartz.mapper.SysQuartzJobMapper">

    <resultMap id="baseResultMap" type="com.breeze.boot.quartz.domain.SysQuartzJob">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="jobName" column="job_name" jdbcType="VARCHAR"/>
        <result property="jobGroupName" column="job_group_name" jdbcType="VARCHAR"/>
        <result property="cronExpression" column="cron_expression" jdbcType="VARCHAR"/>
        <result property="clazzName" column="clazz_name" jdbcType="VARCHAR"/>
        <result property="misfirePolicy" column="misfire_policy" jdbcType="TINYINT"/>
        <result property="concurrent" column="concurrent" jdbcType="TINYINT"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createName" column="create_name" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateName" column="update_name" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
        <result property="deleteBy" column="delete_by" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="listPage" resultType="com.breeze.boot.quartz.domain.SysQuartzJob">
        SELECT a.id,
               a.job_name,
               a.job_group_name,
               a.cron_expression,
               a.clazz_name,
               a.misfire_policy,
               a.`concurrent`,
               a.`status`,
               a.create_by,
               a.create_name,
               a.create_time
        FROM sys_quartz_job AS a
    </select>

</mapper>
