<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scop="context" name="spring.application.name" source="spring.application.name"
                    defaultValue="spring-boot"/>

    <!-- 日志名称 获取 项目名称 -->
    <property name="log_path" value="logs/${spring.application.name}"/>

    <!-- 日志文件路径+名称 -->
    <property name="file_name_pattern" value="${log_path}/${spring.application.name}.%d{yyyy-MM-dd}.%i.log"/>

    <!-- 错误日志文件路径+名称 -->
    <property name="file_name_pattern_error"
              value="${log_path}/${spring.application.name}.%d{yyyy-MM-dd}.%i-error.log"/>

    <!-- 日志打印格式 -->
    <property name="log_pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] %-40.40logger{39} : %msg%n"/>

    <!-- 格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
    <property name="console_color_log_pattern"
              value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %magenta(%-10level) %green([%-50.50class]) >>>>>> %cyan(%msg) %n"/>

    <!-- 日志文件大小 30MB -->
    <property name="max_file_size" value="30MB"/>

    <!-- 保留最近 10 天的日志 -->
    <property name="max_history" value="10"/>

    <!-- 控制台输出 -->
    <appender name="console_log" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 彩色日志 -->
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${console_color_log_pattern}</pattern>
        </layout>
    </appender>

    <!-- 按照每天生成日志文件 -->
    <appender name="file_log_all" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 日志文件输出的文件名 -->
            <FileNamePattern>${file_name_pattern}</FileNamePattern>
            <!-- 日志文件最大的大小 -->
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${max_file_size}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- 日志文件保留天数 -->
            <MaxHistory>${max_history}</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${log_pattern}</pattern>
        </encoder>
    </appender>

    <!-- 生成 ERROR 日志文件 -->
    <appender name="file_log_error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 日志文件输出的文件名 -->
            <FileNamePattern>${file_name_pattern_error}</FileNamePattern>
            <!-- 日志文件最大的大小 -->
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${max_file_size}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- 日志文件保留天数 -->
            <MaxHistory>${max_history}</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${log_pattern}</pattern>
        </encoder>

        <!-- 输出error级别的日志 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <OnMismatch>DENY</OnMismatch>
            <OnMatch>ACCEPT</OnMatch>
        </filter>
    </appender>

    <!-- 生产环境 -->
    <springProfile name="pro">
        <logger name="org.springframework.web" level="INFO"/>
        <logger name="com.breeze.boot.system" level="INFO"/>
        <!-- 日志输出级别 -->
        <root level="info">
            <appender-ref ref="file_log_all"/>
            <appender-ref ref="file_log_error"/>
        </root>
    </springProfile>

    <!-- 开发 和 测试 -->
    <springProfile name="dev,test,dynamic">
        <logger name="org.springframework.web" level="INFO"/>
        <logger name="com.breeze.boot.system" level="INFO"/>
        <!-- 日志输出级别 -->
        <root level="info">
            <appender-ref ref="console_log"/>
            <appender-ref ref="file_log_all"/>
            <appender-ref ref="file_log_error"/>
        </root>
    </springProfile>

</configuration>
