<!--
 * @author: gaoweixuan
 * @since: ${date}
-->
#set($jsTemplateStart = '`')
#set($jsTemplateEnd = '`')
#set($jsDollar = '$')
<!-- ${entityClassNameComment}管理 -->
<script setup lang="ts">
import { reactive, ref } from 'vue'
import { ElForm } from 'element-plus'
import BTable from '@/components/Table/BTable/index.vue'
import SearchContainerBox from '@/components/SearchContainerBox/index.vue'
import { delete${entityClassName}, exportExcel, page } from '@/api/${module}/${entityClassLowerName}'
import type { ${entityClassName}Query, ${entityClassName}Record, ${entityClassName}Records } from '@/api/${module}/${entityClassLowerName}/type.ts'
import { SelectEvent, TableInfo } from '@/components/Table/types/types.ts'
import AddOrEdit from './components/${entityClassName}AddOrEdit.vue'
import { Refresh, Search } from '@element-plus/icons-vue'
import { useI18n } from 'vue-i18n'
import { useMessage } from '@/hooks/message'

defineOptions({
  name: '${entityClassName}',
  inheritAttrs: false,
})

const { t } = useI18n()
const ${entityClassLowerName}QueryFormRef = ref(ElForm)
const ${entityClassLowerName}AddOrEditRef = ref()

// 查询条件
const queryParams = reactive<${entityClassName}Query>({
  #foreach($column in $columns)
  #if($column.attrType == 'LocalDateTime' || $column.attrType == 'LocalDate' || $column.attrType == 'Date')
   ${column.attrName}: string
  #elseif($column.attrType == 'Long' || $column.attrType == 'Integrer')
   ${column.attrName}: number
  #elseif($column.attrType == 'String')
   ${column.attrName}: string
  #elseif($column.attrType == 'Boolean')
   ${column.attrName}: boolean
  #else
   ${column.attrName}: any
  #end
  #end
  current: 1,
  size: 10,
  total: 0,
})

let checkedRows = reactive<string[]>([])
let currentRow = reactive<${entityClassName}Record>({
  #foreach($column in $columns)
    #if($column.attrType == 'LocalDateTime' || $column.attrType == 'LocalDate' || $column.attrType == 'Date')
        ${column.attrName}: string
    #elseif($column.attrType == 'Long' || $column.attrType == 'Integrer')
        ${column.attrName}: number
    #elseif($column.attrType == 'String')
        ${column.attrName}: string
    #elseif($column.attrType == 'Boolean')
        ${column.attrName}: boolean
    #else
        ${column.attrName}: any
    #end
  #end
})
const tableLoading = ref<boolean>(false)
// 刷新标识
const refresh = ref<number>(1)
const tableIndex = ref<boolean>(true)
// 选择框类型
const select: SelectEvent = 'single'

const tableInfo = reactive<TableInfo>({
  // 表格顶部按钮
  tbHeaderBtn: [
    {
      type: 'primary',
      label: t('common.add'),
      permission: ['${module}:${entityClassLowerName}:create'],
      event: 'add',
      icon: 'add',
      eventHandle: () => handleAdd(),
    },
    {
      type: 'danger',
      label: t('common.delete'),
      permission: ['${module}:${entityClassLowerName}:delete'],
      event: 'delete',
      icon: 'delete',
      eventHandle: (rows: ${entityClassName}Records) => handleDelete(rows),
    },
  ],
  // 表格字段配置
  fieldList: [
    #foreach($column in $columns)
    #if(!$column.pk)
    {
      prop: '${column.attrName}',
      showOverflowTooltip: true,
      label: t('${entityClassLowerName}.fields.${column.attrName}'),
    },
    #end
    #end
  ],
  handleBtn: {
    width: 210,
    label: t('common.operate'),
    link: true,
    btList: [
      // 编辑
      {
        label: t('common.edit'),
        type: 'success',
        icon: 'edit',
        event: 'edit',
        permission: ['${module}:${entityClassLowerName}:modify'],
        eventHandle: (row: ${entityClassName}Record) => handleUpdate(row),
      },
      // 查看
      {
        label: t('common.info'),
        type: 'warning',
        icon: 'view',
        event: 'view',
        permission: ['${module}:${entityClassLowerName}:info'],
        eventHandle: (row: ${entityClassName}Record) => handleInfo(row),
      },
      // 删除
      {
        label: t('common.delete'),
        type: 'danger',
        icon: 'delete',
        event: 'delete',
        permission: ['${module}:${entityClassLowerName}:delete'],
        eventHandle: (row: ${entityClassName}Record) => handleDelete([row] as ${entityClassName}Records),
      },
    ],
  },
})

/**
 * 刷新表格
 */
const reloadList = () => {
  refresh.value = Math.random()
}

/**
 * 重置查询
 */
const resetQuery = () => {
    ${entityClassLowerName}QueryFormRef.value.resetFields()
  handleQuery()
}

/**
 * 查询
 */
const handleQuery = () => {
  reloadList()
}

/**
 * 添加或者修改
 *
 * @param id 主键
 */
const AddOrEditHandle = (id?: number) => {
    ${entityClassLowerName}AddOrEditRef.value.init(id)
}

/**
 * 详情
 *
 * @param row 参数
 */
const handleInfo = (row: any) => {
  console.log(row)
}

/**
 * 添加
 */
const handleAdd = () => {
  AddOrEditHandle()
}

/**
 * 删除
 *
 * @param rows 行数据
 */
const handleDelete = async (rows: ${entityClassName}Records) => {
  try {
    const ${entityClassLowerName}Ids = rows.map((item: any) => item.id)
    await delete${entityClassName}(${entityClassLowerName}Ids)
    useMessage().success(${jsTemplateStart}${jsDollar}{t('common.delete')} ${jsDollar}{t('common.success')}${jsTemplateEnd})
    reloadList()
  } catch (err: any) {
    useMessage().error(${jsTemplateStart}${jsDollar}{t('common.fail')} ${jsDollar}{err.message}${jsTemplateEnd})
  }
}

/**
 * 修改
 *
 * @param row 修改参数
 */
const handleUpdate = (row: ${entityClassName}Record) => {
  AddOrEditHandle(row.id)
}

/**
 * 选中行，设置当前行currentRow
 *
 * @param row 选择的行数据
 */
const handleSelectionChange = (row: ${entityClassName}Record) => {
  currentRow = row
  console.log(currentRow)
}
</script>

<template>
  <search-container-box>
    <el-form ref="${entityClassLowerName}QueryFormRef" :model="queryParams" :inline="true">
      #foreach($column in $columns)

      <el-form-item :label="t('${entityClassLowerName}.fields.${column.attrName}')" prop="${column.attrName}">
        #if(!$column.pk)
        #if($column.attrName != 'createTime' || $column.attrName != 'updateTime' || $column.attrName != 'createBy' || $column.attrName != 'updateBy')
        <el-input
          @keyup.enter="handleQuery"
          style="width: 200px"
          :placeholder="t('${entityClassLowerName}.fields.${column.attrName}')"
          v-model="queryParams.${column.attrName}"
        />
        #end
        #end
      </el-form-item>
      #end

      <el-form-item>
        <el-button type="primary" :icon="Search" @click="handleQuery">
          {{ t('common.search') }}
        </el-button>
        <el-button type="success" :icon="Refresh" @click="resetQuery">
          {{ t('common.reset') }}
        </el-button>
      </el-form-item>
    </el-form>
  </search-container-box>

  <b-table
    ref="${entityClassLowerName}TableRef"
    :refresh="refresh"
    :select="select"
    :list-api="page"
    :export-api="exportExcel"
    v-model:loading="tableLoading"
    :tableIndex="tableIndex"
    :query="queryParams"
    :checked-rows="checkedRows"
    :dict="tableInfo.dict"
    :field-list="tableInfo.fieldList"
    :tb-header-btn="tableInfo.tbHeaderBtn"
    :handle-btn="tableInfo.handleBtn"
    @selection-change="handleSelectionChange"
  />

  <!-- 新增 / 修改 Dialog -->
  <add-or-edit ref="${entityClassLowerName}AddOrEditRef" @reload-data-list="reloadList" />
</template>