<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.breeze.boot.modules.auth.mapper.SysRoleMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.breeze.boot.modules.auth.domain.SysRole" id="sysRoleMap">
        <id property="id" column="id"/>
        <result property="roleCode" column="role_code"/>
        <result property="roleName" column="role_name"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="createName" column="create_name"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDelete" column="is_delete"/>
        <result property="deleteBy" column="delete_by"/>
    </resultMap>

    <select id="listRoleByUserId" resultType="com.breeze.boot.modules.auth.domain.SysRole">
        SELECT role.id,
               role.role_code,
               role.role_name
        FROM sys_role AS role
                 LEFT JOIN sys_user_role AS ru ON ru.role_id = role.id
        WHERE role.is_delete = 0
          AND ru.user_id = #{userId}
        ORDER BY role.create_time DESC
    </select>

    <select id="listRoleIdsByUserId" resultType="java.lang.Long">
        SELECT role.id
        FROM sys_role AS role
                 LEFT JOIN sys_user_role AS ru ON ru.role_id = role.id
        WHERE role.is_delete = 0
          AND ru.user_id = #{userId}
        ORDER BY role.create_time DESC
    </select>

    <select id="listPage" resultType="com.breeze.boot.modules.auth.domain.SysRole">
        SELECT
        a.id,
        a.role_code,
        a.role_name,
        b.permission_name
        FROM
        sys_role AS a
        LEFT JOIN (
        SELECT
        a.role_id,
        GROUP_CONCAT( b.permission_name ) permission_name
        FROM
        sys_role_permission AS a
        LEFT JOIN sys_permission AS b ON a.permission_id = b.id
        WHERE
        b.is_delete = 0
        GROUP BY
        a.role_id
        ) b ON a.id = b.role_id
        <where>
            AND a.is_delete = 0
            <if test="roleQuery.roleName != null and roleQuery.roleName != ''">
                AND a.role_name LIKE CONCAT( '%', #{roleQuery.roleName}, '%')
            </if>
            <if test="roleQuery.roleCode != null and roleQuery.roleCode != ''">
                AND a.role_code LIKE CONCAT( '%', #{roleQuery.roleCode}, '%')
            </if>
        </where>
        ORDER BY
        a.create_time DESC
    </select>

    <select id="listUserRoles" resultType="java.lang.Long">
        SELECT a.id
        FROM sys_role AS a
                 LEFT JOIN sys_user_role AS b ON a.id = b.role_id
        WHERE b.user_id = #{userId}
          AND a.is_delete = 0
    </select>

    <select id="listRoleNamesByUserId" resultType="java.lang.String">
        SELECT role.role_name
        FROM sys_role AS role
                 LEFT JOIN sys_user_role AS ru ON ru.role_id = role.id
        WHERE role.is_delete = 0
          AND ru.user_id = #{userId}
        ORDER BY role.create_time DESC
    </select>

</mapper>
